<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>Ingresar</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" name="email" placeholder="Email" [(ngModel)]="client.email"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" name="password" placeholder="Password" [(ngModel)]="client.password"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button size="large" expand="block" (click)="makeLogin()">Login</ion-button>
			</div>
			<div padding class="ion-text-center">
				<ion-row>
          			<ion-col width-50>
						<a (click)="redirect()">¿No tienes cuenta aun,registrate? </a>
					</ion-col>
				</ion-row>
			</div>

		</ion-col>
	</ion-row>
</ion-grid>

</ion-content>
