<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  	<div class="ion-padding" *ngFor="let article of news.articles">
  		<ion-item class="botton-space">
			<div class="img-custom" [ngStyle]="{background: 'url('+ article.urlToImage +')'}">		
			</div>
		</ion-item>
   		<ion-card>
		 	<ion-card-header>
			    <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
			    <ion-card-title>{{article.title}}</ion-card-title>
		 	</ion-card-header>
		    <ion-card-content ng>
		    	{{article.content}}
		    </ion-card-content>
		</ion-card>
  	</div>
</ion-content>
