.img-custom{
	background-size: cover!important;
	background-position: center!important;
	background-repeat:no-repeat!important;
	width: 100%;
	height: 240px;
	border-radius: 15px 15px 0 0;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.botton-space{
	margin-bottom: -18px;
}