<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">	
			<div padding>
				<ion-item>
					<ion-input type="text" name="name" placeholder="Nombre" [(ngModel)]="newClient.name"></ion-input>
				</ion-item>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" name="email" placeholder="Email" [(ngModel)]="newClient.email"></ion-input>
				</ion-item>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="password" name="password" placeholder="Password" [(ngModel)]="newClient.password"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button size="large" expand="block" (click)="makeRegister()">Guardar</ion-button>
			</div>
		</ion-col>
	</ion-row>
</ion-content>
